@font-face {
  font-family: 'Vazirmatn';
  src: url('/assets/fonts/Vazirmatn-wght.woff2') format('woff2 supports variations'),
  url('/assets/fonts/Vazirmatn-wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Vazirmatn",system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
}
.side-bar {
  //align-items: flex-start;
  border-left: 1px solid #44434d;
}
.search-input {
  padding: 0.5rem 3.5rem 0.5rem 1rem;
transition: padding-right linear 200ms;
}
.search-label {
padding-right: 2rem;
transition: padding-right linear 200ms;

}
@media (min-width: 50rem) {
  .side-bar + .main {
    margin-right: 15.5rem;
    margin-left: 0;
  }
}

@media (min-width: 66.5rem) {
  .side-bar + .main {
    margin-right: max(16.5rem, (100% - 66.5rem) / 2 + 16.5rem);
    margin-left: 0;
  }
}


a.skip-to-main {
  left: unset;
  right: -999%;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
